.bg1
{
  z-index: -99;
  width:1440px;
  height:1080px;
  background-image: linear-gradient( rgba(239, 245, 151, 0.5), rgba(239, 245, 151, 0.5)), url("https://media.52poke.com/wiki/thumb/c/c6/%E9%97%9C%E9%83%BD_LPLE.png/1200px-%E9%97%9C%E9%83%BD_LPLE.png?20180712174828");
  background-size: cover;
  background-position: center center;
}

.bg2
{
  z-index: -99;
  width:1440px;
  height:1080px;
  background-image: linear-gradient( rgba(239, 245, 151, 0.4), rgba(239, 245, 151, 0.4)), url("https://media.52poke.com/wiki/thumb/a/a0/%E5%9F%8E%E9%83%BD_HGSS.jpg/1200px-%E5%9F%8E%E9%83%BD_HGSS.jpg?20100902063418");
  background-size: cover;
  background-position: center center;
}

.bg3
{
  z-index: -99;
  width:1440px;
  height:1080px;
  background-image: linear-gradient( rgba(239, 245, 151, 0.4), rgba(239, 245, 151, 0.4)), url("https://media.52poke.com/wiki/thumb/1/1a/%E4%B8%B0%E7%BC%98%E5%9C%B0%E5%8C%BA_ORAS.png/1200px-%E4%B8%B0%E7%BC%98%E5%9C%B0%E5%8C%BA_ORAS.png?20180206041913");
  background-size: cover;
  background-position: center center;
}

.bg4
{
  z-index: -99;
  width:1440px;
  height:1080px;
  background-image: linear-gradient( rgba(239, 245, 151, 0.4), rgba(239, 245, 151, 0.4)), url("https://media.52poke.com/wiki/thumb/b/b1/%E7%A5%9E%E5%A5%A5_BDSP.png/1200px-%E7%A5%9E%E5%A5%A5_BDSP.png?20210820060252");
  background-size: cover;
  background-position: center center;
}

.bg5
{
  z-index: -99;
  width:1440px;
  height:1080px;
  background-image: linear-gradient( rgba(239, 245, 151, 0.4), rgba(239, 245, 151, 0.4)), url("https://media.52poke.com/wiki/thumb/2/2e/%E5%90%88%E4%BC%97_B2W2.png/1200px-%E5%90%88%E4%BC%97_B2W2.png?20140426074704");
  background-size: cover;
  background-position: center center;
}

.bg6
{
  z-index: -99;
  width:1440px;
  height:1080px;
  background-image: linear-gradient( rgba(239, 245, 151, 0.4), rgba(239, 245, 151, 0.4)), url("https://media.52poke.com/wiki/thumb/4/48/%E5%8D%A1%E6%B4%9B%E6%96%AF_XY.png/1200px-%E5%8D%A1%E6%B4%9B%E6%96%AF_XY.png?20230601022927");
  background-size: cover;
  background-position: center center;
}

.bg7
{
  z-index: -99;
  width:1440px;
  height:1080px;
  background-image: linear-gradient( rgba(239, 245, 151, 0.4), rgba(239, 245, 151, 0.4)), url("https://media.52poke.com/wiki/thumb/1/11/%E9%98%BF%E7%BE%85%E6%8B%89_USUM.png/1200px-%E9%98%BF%E7%BE%85%E6%8B%89_USUM.png?20230620014539");
  background-size: cover;
  background-position: center center;
}

.bg8
{
  z-index: -99;
  width:1440px;
  height:1080px;
  background-image: linear-gradient( rgba(239, 245, 151, 0.4), rgba(239, 245, 151, 0.4)), url("https://media.52poke.com/wiki/thumb/1/17/%E4%BC%BD%E5%8B%92%E5%B0%94%E5%9C%B0%E5%8C%BA.png/636px-%E4%BC%BD%E5%8B%92%E5%B0%94%E5%9C%B0%E5%8C%BA.png?20190302150607");
  background-size: cover;
  background-position: center center;
}

.bg9
{
  z-index: -99;
  width:1440px;
  height:1080px;
  background-image: linear-gradient( rgba(239, 245, 151, 0.4), rgba(239, 245, 151, 0.4)), url("https://media.52poke.com/wiki/thumb/5/53/%E5%B8%95%E5%BA%95%E4%BA%9A%E5%9C%B0%E5%8C%BA_SV.png/1200px-%E5%B8%95%E5%BA%95%E4%BA%9A%E5%9C%B0%E5%8C%BA_SV.png?20220803151634");
  background-size: cover;
  background-position: center center;
}

.part
{
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.bgyear
{
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    height:1080px;
}

.bgyeara
{
    width: 100px;
    height:50px;
    background-color: rgb(241, 240, 158);
    border-radius: 50% 50% 50% 50%;
    border: 6px solid black;
    position:relative; 
    top:330px; 
    left:182px;
    font-size: 25px;
    display : flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana;
}

.bgyearb
{
    width: 100px;
    height:50px;
    background-color: rgb(241, 240, 158);
    border-radius: 50% 50% 50% 50%;
    border: 6px solid black;
    position:relative; 
    top:506px; 
    left:182px;
    font-size: 25px;
    display : flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana;
}

.bg1year1
{
    width:240px;
    height:360px;
}

.bg1year2
{
    width: 240px;
    height:354px;
    border-bottom: 6px solid black;
}

.bg1year3
{
    width: 237px;
    height:354px;
    border-right: 3px solid black;
    border-bottom: 6px solid black;
}

.bg1year4
{
    width: 237px;
    height:360px;
    border-left: 3px solid black;
}

.bg1year5
{
    width: 237px;
    height:360px;
    border-right: 3px solid black;
}

.bg1year6
{
    width: 237px;
    height:360px;
    border-left: 3px solid black;
}

.bg2year1
{
    width:237px;
    height:360px;
    border-right: 3px solid black;
}

.bg2year2
{
    width: 237px;
    height:354px;
    border-left: 3px solid black;
    border-bottom: 6px solid black;
}

.bg2year3
{
    width: 237px;
    height:540px;
    border-right: 3px solid black;
}

.bg2year4
{
    width: 237px;
    height:534px;
    border-left: 3px solid black;
    border-bottom: 6px solid black;
}

.bg2year5
{
    width: 237px;
    height:540px;
    border-right: 3px solid black;
}

.bg2year6
{
    width: 237px;
    height:540px;
    border-left: 3px solid black;
}

.bg3year1
{
    width:237px;
    height:354px;
    border-right: 3px solid black;
    border-bottom: 6px solid black;
}

.bg3year2
{
    width: 237px;
    height:360px;
    border-left: 3px solid black;
}

.bg3year3
{
    width: 237px;
    height:360px;
    border-right: 3px solid black;
}

.bg3year4
{
    width: 237px;
    height:354px;
    border-left: 3px solid black;
    border-bottom: 6px solid black;
}

.bg3year5
{
    width: 237px;
    height:360px;
    border-right: 3px solid black;
}

.bg3year6
{
    width: 237px;
    height:360px;
    border-left: 3px solid black;
}

.bgimg
{
    width: 480px;
    height:1080px;
}

.game1
{
    width:120px;
    height:150px;
    background-image:url("https://s1.52poke.com/wiki/thumb/9/93/%E5%AE%9D%E5%8F%AF%E6%A2%A6_%E7%BA%A2_%E6%97%A5%E7%89%88%E5%B0%81%E9%9D%A2.png/250px-%E5%AE%9D%E5%8F%AF%E6%A2%A6_%E7%BA%A2_%E6%97%A5%E7%89%88%E5%B0%81%E9%9D%A2.png");
    background-size: cover;
    background-position: center center;
    position:relative; 
    top:180px; 
    left:150px;
}

.game2
{
    width:120px;
    height:150px;
    background-image:url("https://media.52poke.com/wiki/0/02/%E5%AE%9D%E5%8F%AF%E6%A2%A6_%E7%BB%BF_%E6%97%A5%E7%89%88%E5%B0%81%E9%9D%A2.png");
    background-size: cover;
    background-position: center center;
    position:relative; 
    top:250px; 
    left:50px;
}

.game3
{
    width:120px;
    height:150px;
    background-image:url("https://s1.52poke.com/wiki/thumb/1/19/%E5%AE%9D%E5%8F%AF%E6%A2%A6_%E8%93%9D_%E6%97%A5%E7%89%88%E5%B0%81%E9%9D%A2.png/250px-%E5%AE%9D%E5%8F%AF%E6%A2%A6_%E8%93%9D_%E6%97%A5%E7%89%88%E5%B0%81%E9%9D%A2.png");
    background-size: cover;
    background-position: center center;
    position:relative; 
    top:100px; 
    left:250px;
}

.game4
{
    width:120px;
    height:150px;
    background-image:url("https://s1.52poke.com/wiki/thumb/d/dc/%E5%AE%9D%E5%8F%AF%E6%A2%A6_%E7%9A%AE%E5%8D%A1%E4%B8%98_%E6%97%A5%E7%89%88%E5%B0%81%E9%9D%A2.png/250px-%E5%AE%9D%E5%8F%AF%E6%A2%A6_%E7%9A%AE%E5%8D%A1%E4%B8%98_%E6%97%A5%E7%89%88%E5%B0%81%E9%9D%A2.png");
    background-size: cover;
    background-position: center center;
    position:relative; 
    top:650px; 
    left:310px;
}

.game5
{
    width:120px;
    height:150px;
    background-image:url("https://s1.52poke.com/wiki/thumb/d/d6/%E5%AE%9D%E5%8F%AF%E6%A2%A6_%E9%87%91_%E6%97%A5%E7%89%88%E5%B0%81%E9%9D%A2.jpg/180px-%E5%AE%9D%E5%8F%AF%E6%A2%A6_%E9%87%91_%E6%97%A5%E7%89%88%E5%B0%81%E9%9D%A2.jpg");
    background-size: cover;
    background-position: center center;
    position:relative; 
    top:300px; 
    left:50px;
}

.game6
{
    width:120px;
    height:150px;
    background-image:url("https://s1.52poke.com/wiki/thumb/b/ba/%E5%AE%9D%E5%8F%AF%E6%A2%A6_%E9%93%B6_%E6%97%A5%E7%89%88%E5%B0%81%E9%9D%A2.jpg/180px-%E5%AE%9D%E5%8F%AF%E6%A2%A6_%E9%93%B6_%E6%97%A5%E7%89%88%E5%B0%81%E9%9D%A2.jpg");
    background-size: cover;
    background-position: center center;
    position:relative; 
    top:150px; 
    left:250px;
}

.game7
{
    width:120px;
    height:150px;
    background-image:url("https://s1.52poke.com/wiki/thumb/7/70/%E5%AE%9D%E5%8F%AF%E6%A2%A6_%E6%B0%B4%E6%99%B6%E7%89%88_%E6%97%A5%E7%89%88%E5%B0%81%E9%9D%A2.png/250px-%E5%AE%9D%E5%8F%AF%E6%A2%A6_%E6%B0%B4%E6%99%B6%E7%89%88_%E6%97%A5%E7%89%88%E5%B0%81%E9%9D%A2.png");
    background-size: cover;
    background-position: center center;
    position:relative; 
    top:650px; 
    left:310px;
}

.game8
{
    width:200px;
    height:127px;
    background-image:url("https://s1.52poke.com/wiki/thumb/f/ff/%E5%AE%9D%E5%8F%AF%E6%A2%A6_%E7%BA%A2%E5%AE%9D%E7%9F%B3_%E6%97%A5%E7%89%88%E5%B0%81%E9%9D%A2.png/180px-%E5%AE%9D%E5%8F%AF%E6%A2%A6_%E7%BA%A2%E5%AE%9D%E7%9F%B3_%E6%97%A5%E7%89%88%E5%B0%81%E9%9D%A2.png");
    background-size: cover;
    background-position: center center;
    position:relative; 
    top:200px; 
    left:50px;
}

.game9
{
    width:200px;
    height:127px;
    background-image:url("https://s1.52poke.com/wiki/thumb/f/f3/%E5%AE%9D%E5%8F%AF%E6%A2%A6_%E8%93%9D%E5%AE%9D%E7%9F%B3_%E6%97%A5%E7%89%88%E5%B0%81%E9%9D%A2.png/180px-%E5%AE%9D%E5%8F%AF%E6%A2%A6_%E8%93%9D%E5%AE%9D%E7%9F%B3_%E6%97%A5%E7%89%88%E5%B0%81%E9%9D%A2.png");
    background-size: cover;
    background-position: center center;
    position:relative; 
    top:250px; 
    left:50px;
}

.game10
{
    width:200px;
    height:127px;
    background-image:url("https://s1.52poke.com/wiki/thumb/3/3e/%E5%AE%9D%E5%8F%AF%E6%A2%A6_%E7%BB%BF%E5%AE%9D%E7%9F%B3_%E6%97%A5%E7%89%88%E5%B0%81%E9%9D%A2.png/250px-%E5%AE%9D%E5%8F%AF%E6%A2%A6_%E7%BB%BF%E5%AE%9D%E7%9F%B3_%E6%97%A5%E7%89%88%E5%B0%81%E9%9D%A2.png");
    background-size: cover;
    background-position: center center;
    position:relative; 
    top:650px; 
    left:230px;
}

.game11
{
    width:150px;
    height:134px;
    background-image:url("https://s1.52poke.com/wiki/thumb/5/58/%E5%AE%9D%E5%8F%AF%E6%A2%A6_%E9%92%BB%E7%9F%B3_%E6%97%A5%E7%89%88%E5%B0%81%E9%9D%A2.jpg/180px-%E5%AE%9D%E5%8F%AF%E6%A2%A6_%E9%92%BB%E7%9F%B3_%E6%97%A5%E7%89%88%E5%B0%81%E9%9D%A2.jpg");
    background-size: cover;
    background-position: center center;
    position:relative; 
    top:300px; 
    left:50px;
}

.game12
{
    width:150px;
    height:134px;
    background-image:url("https://s1.52poke.com/wiki/thumb/a/af/%E5%AE%9D%E5%8F%AF%E6%A2%A6_%E7%8F%8D%E7%8F%A0_%E6%97%A5%E7%89%88%E5%B0%81%E9%9D%A2.jpg/180px-%E5%AE%9D%E5%8F%AF%E6%A2%A6_%E7%8F%8D%E7%8F%A0_%E6%97%A5%E7%89%88%E5%B0%81%E9%9D%A2.jpg");
    background-size: cover;
    background-position: center center;
    position:relative; 
    top:167px; 
    left:260px;
}

.game13
{
    width:150px;
    height:134px;
    background-image:url("https://s1.52poke.com/wiki/c/c0/%E5%AE%9D%E5%8F%AF%E6%A2%A6_%E7%99%BD%E9%87%91_%E6%97%A5%E7%89%88%E5%B0%81%E9%9D%A2.png");
    background-size: cover;
    background-position: center center;
    position:relative; 
    top:650px; 
    left:280px;
}

.game14
{
    width:150px;
    height:136px;
    background-image:url("https://s1.52poke.com/wiki/thumb/a/ad/Pokemon_Black_Boxart_JP.png/180px-Pokemon_Black_Boxart_JP.png");
    background-size: cover;
    background-position: center center;
    position:relative; 
    top:300px; 
    left:50px;
}

.game15
{
    width:150px;
    height:136px;
    background-image:url("https://s1.52poke.com/wiki/thumb/c/c7/Pokemon_White_Boxart_JP.png/180px-Pokemon_White_Boxart_JP.png");
    background-size: cover;
    background-position: center center;
    position:relative; 
    top:167px; 
    left:270px;
}

.game16
{
    width:150px;
    height:134px;
    background-image:url("https://s1.52poke.com/wiki/thumb/9/9f/Pokemon_Black_2_Boxart_JP.png/180px-Pokemon_Black_2_Boxart_JP.png");
    background-size: cover;
    background-position: center center;
    position:relative; 
    top:650px; 
    left:40px;
}

.game17
{
    width:150px;
    height:134px;
    background-image:url("https://s1.52poke.com/wiki/thumb/1/13/Pokemon_White_2_Boxart_JP.png/180px-Pokemon_White_2_Boxart_JP.png");
    background-size: cover;
    background-position: center center;
    position:relative; 
    top:518px; 
    left:280px;
}

.game18
{
    width:150px;
    height:134px;
    background-image:url("https://s1.52poke.com/wiki/thumb/1/15/Pokemon_X_Boxart_JP.png/180px-Pokemon_X_Boxart_JP.png");
    background-size: cover;
    background-position: center center;
    position:relative; 
    top:480px; 
    left:50px;
}

.game19
{
    width:150px;
    height:134px;
    background-image:url("https://s1.52poke.com/wiki/thumb/c/cb/Pokemon_Y_Boxart_JP.png/180px-Pokemon_Y_Boxart_JP.png");
    background-size: cover;
    background-position: center center;
    position:relative; 
    top:350px; 
    left:280px;
}

.game20
{
    width:150px;
    height:134px;
    background-image:url("https://s1.52poke.com/wiki/thumb/0/07/%E7%B2%BE%E9%9D%88%E5%AF%B6%E5%8F%AF%E5%A4%A2_%E5%A4%AA%E9%99%BD_%E5%B0%81%E9%9D%A2_%E7%B9%81%E9%AB%94%E4%B8%AD%E6%96%87.png/180px-%E7%B2%BE%E9%9D%88%E5%AF%B6%E5%8F%AF%E5%A4%A2_%E5%A4%AA%E9%99%BD_%E5%B0%81%E9%9D%A2_%E7%B9%81%E9%AB%94%E4%B8%AD%E6%96%87.png");
    background-size: cover;
    background-position: center center;
    position:relative; 
    top:300px; 
    left:60px;
}

.game21
{
    width:150px;
    height:134px;
    background-image:url("https://s1.52poke.com/wiki/thumb/2/20/%E7%B2%BE%E9%9D%88%E5%AF%B6%E5%8F%AF%E5%A4%A2_%E6%9C%88%E4%BA%AE_%E5%B0%81%E9%9D%A2_%E7%B9%81%E9%AB%94%E4%B8%AD%E6%96%87.png/180px-%E7%B2%BE%E9%9D%88%E5%AF%B6%E5%8F%AF%E5%A4%A2_%E6%9C%88%E4%BA%AE_%E5%B0%81%E9%9D%A2_%E7%B9%81%E9%AB%94%E4%B8%AD%E6%96%87.png");
    background-size: cover;
    background-position: center center;
    position:relative; 
    top:166px; 
    left:280px;
}

.game22
{
    width:150px;
    height:134px;
    background-image:url("https://s1.52poke.com/wiki/thumb/1/1f/%E7%B2%BE%E9%9D%88%E5%AF%B6%E5%8F%AF%E5%A4%A2_%E7%A9%B6%E6%A5%B5%E4%B9%8B%E6%97%A5_%E5%B0%81%E9%9D%A2_%E7%B9%81%E9%AB%94%E4%B8%AD%E6%96%87.png/180px-%E7%B2%BE%E9%9D%88%E5%AF%B6%E5%8F%AF%E5%A4%A2_%E7%A9%B6%E6%A5%B5%E4%B9%8B%E6%97%A5_%E5%B0%81%E9%9D%A2_%E7%B9%81%E9%AB%94%E4%B8%AD%E6%96%87.png");
    background-size: cover;
    background-position: center center;
    position:relative; 
    top:650px; 
    left:50px;
}

.game23
{
    width:150px;
    height:134px;
    background-image:url("https://s1.52poke.com/wiki/thumb/9/9c/%E7%B2%BE%E9%9D%88%E5%AF%B6%E5%8F%AF%E5%A4%A2_%E7%A9%B6%E6%A5%B5%E4%B9%8B%E6%9C%88_%E5%B0%81%E9%9D%A2_%E7%B9%81%E9%AB%94%E4%B8%AD%E6%96%87.png/180px-%E7%B2%BE%E9%9D%88%E5%AF%B6%E5%8F%AF%E5%A4%A2_%E7%A9%B6%E6%A5%B5%E4%B9%8B%E6%9C%88_%E5%B0%81%E9%9D%A2_%E7%B9%81%E9%AB%94%E4%B8%AD%E6%96%87.png");
    background-size: cover;
    background-position: center center;
    position:relative; 
    top:518px; 
    left:250px;
}

.game24
{
    width:150px;
    height:234px;
    background-image:url("https://s1.52poke.com/wiki/thumb/1/1e/%E5%AF%B6%E5%8F%AF%E5%A4%A2_%E5%8A%8D_%E5%B0%81%E9%9D%A2_%E7%B9%81%E9%AB%94%E4%B8%AD%E6%96%87.png/180px-%E5%AF%B6%E5%8F%AF%E5%A4%A2_%E5%8A%8D_%E5%B0%81%E9%9D%A2_%E7%B9%81%E9%AB%94%E4%B8%AD%E6%96%87.png");
    background-size: cover;
    background-position: center center;
    position:relative; 
    top:250px; 
    left:50px;
}

.game25
{
    width:150px;
    height:234px;
    background-image:url("https://s1.52poke.com/wiki/thumb/3/34/%E5%AF%B6%E5%8F%AF%E5%A4%A2_%E7%9B%BE_%E5%B0%81%E9%9D%A2_%E7%B9%81%E9%AB%94%E4%B8%AD%E6%96%87.png/180px-%E5%AF%B6%E5%8F%AF%E5%A4%A2_%E7%9B%BE_%E5%B0%81%E9%9D%A2_%E7%B9%81%E9%AB%94%E4%B8%AD%E6%96%87.png");
    background-size: cover;
    background-position: center center;
    position:relative; 
    top:18px; 
    left:280px;
}

.game26
{
    width:220px;
    height:125px;
    background-image:url("https://s1.52poke.com/wiki/7/7b/%E5%AE%9D%E5%8F%AF%E6%A2%A6_%E5%89%91%EF%BC%8F%E7%9B%BE_%E6%89%A9%E5%B1%95%E7%A5%A8_%E5%9B%BE%E6%A0%87_%E7%AE%80%E4%BD%93%E4%B8%AD%E6%96%87.png");
    background-size: cover;
    background-position: center center;
    position:relative; 
    top:650px; 
    left:50px;
}

.game27
{
    width:150px;
    height:234px;
    background-image:url("https://s1.52poke.com/wiki/thumb/4/46/%E5%AF%B6%E5%8F%AF%E5%A4%A2_%E6%9C%B1_%E5%B0%81%E9%9D%A2_%E7%B9%81%E9%AB%94%E4%B8%AD%E6%96%87.png/180px-%E5%AF%B6%E5%8F%AF%E5%A4%A2_%E6%9C%B1_%E5%B0%81%E9%9D%A2_%E7%B9%81%E9%AB%94%E4%B8%AD%E6%96%87.png");
    background-size: cover;
    background-position: center center;
    position:relative; 
    top:250px; 
    left:50px;
}

.game28
{
    width:150px;
    height:234px;
    background-image:url("https://s1.52poke.com/wiki/thumb/b/b7/%E5%AF%B6%E5%8F%AF%E5%A4%A2_%E7%B4%AB_%E5%B0%81%E9%9D%A2_%E7%B9%81%E9%AB%94%E4%B8%AD%E6%96%87.png/180px-%E5%AF%B6%E5%8F%AF%E5%A4%A2_%E7%B4%AB_%E5%B0%81%E9%9D%A2_%E7%B9%81%E9%AB%94%E4%B8%AD%E6%96%87.png");
    background-size: cover;
    background-position: center center;
    position:relative; 
    top:18px; 
    left:280px;
}

.game29
{
    width:220px;
    height:154px;
    background-image:url("https://s1.52poke.com/wiki/thumb/2/20/%E5%AE%9D%E5%8F%AF%E6%A2%A6_%E6%9C%B1%EF%BC%8F%E7%B4%AB_%E9%9B%B6%E4%B9%8B%E7%A7%98%E5%AE%9D_%E5%9B%BE%E6%A0%87_%E7%AE%80%E4%BD%93%E4%B8%AD%E6%96%87.png/250px-%E5%AE%9D%E5%8F%AF%E6%A2%A6_%E6%9C%B1%EF%BC%8F%E7%B4%AB_%E9%9B%B6%E4%B9%8B%E7%A7%98%E5%AE%9D_%E5%9B%BE%E6%A0%87_%E7%AE%80%E4%BD%93%E4%B8%AD%E6%96%87.png");
    background-size: cover;
    background-position: center center;
    position:relative; 
    top:650px; 
    left:50px;
}

@media (max-width:500px) 
{
  .topbut
  {
    display: none;
  }
  .topbutp
  {
    display: block;
  }
  .bg1
  {
    width:400px;
    height: 270px;
  }
  .bg2
  {
    width:400px;
    height: 270px;
  }
  .bg3
  {
    width:400px;
    height: 270px;
  }
  .bg4
  {
    width:400px;
    height: 270px;
  }
  .bg5
  {
    width:400px;
    height: 270px;
  }
  .bg6
  {
    width:400px;
    height: 270px;
  }
  .bg7
  {
    width:400px;
    height: 270px;
  }
  .bg8
  {
    width:400px;
    height: 270px;
  }
  .bg9
  {
    width:400px;
    height: 270px;
  }

  .bgimg
  {
      width: 130px;
      height: 270px;
  }

  .bgyear
  {
      width: 130px;
      height: 270px;
  }

  .bgyeara
  {
      width: 20px;
      height:10px;
      position:relative; 
      left:53px;
      top: 82px;
      font-size: 5px;
      border: 2px solid black;
  }

  .bgyearb
  {
      width: 20px;
      height:10px;
      position:relative; 
      left:53px;
      top: 128px;
      font-size: 5px;
      border: 2px solid black;
  }

  .bg1year1
  {
      width:65px;
      height: 90px;
  }

  .bg1year2
  {
      width: 65px;
      height: 88px;
      border-bottom: 2px solid black;
  }

  .bg1year3
  {
      width: 64px;
      height: 88px;
      border-right: 1px solid black;
      border-bottom: 2px solid black;
  }

  .bg1year4
  {
      width: 64px;
      height: 90px;
      border-left: 1px solid black;
  }

  .bg1year5
  {
      width: 64px;
      height: 90px;
      border-right: 1px solid black;
  }

  .bg1year6
  {
      width: 64px;
      height: 90px;
      border-left: 1px solid black;
  }

  .bg2year1
  {
      width: 64px;
      height: 90px;
      border-right: 1px solid black;
  }

  .bg2year2
  {   
      width: 64px;
      height:88px;
      border-left: 1px solid black;
      border-bottom: 2px solid black;
  }

  .bg2year3
  {
    width: 64px;
    height:135px;
    border-right: 1px solid black;
  }

  .bg2year4
  {
      width: 64px;
      height:133px;
      border-left: 1px solid black;
      border-bottom: 2px solid black;
  }

  .bg2year5
  {
      width: 64px;
      height:135px;
      border-right: 1px solid black;
  }

  .bg2year6
  {
      width: 64px;
      height:135px;
      border-left: 1px solid black;
  }

  .bg3year1
  {
      width: 64px;
      height: 88px;
      border-right: 1px solid black;
      border-bottom: 2px solid black;
  }

  .bg3year2
  {
    width: 64px;
    height: 90px;
    border-left: 1px solid black;
  }

  .bg3year3
  {
    width: 64px;
    height: 90px;
    border-right: 1px solid black;
  }

  .bg3year4
  {
    width: 64px;
    height: 88px;
    border-left: 1px solid black;
    border-bottom: 2px solid black;
  }

  .bg3year5
  {
    width: 64px;
    height: 90px;
    border-right: 1px solid black;
  }

  .bg3year6
  {
    width: 64px;
    height: 90px;
    border-left: 1px solid black;
  }

  .game1
  {
      width:40px;
      height:50px;
      position:relative; 
      left:10px;
      top: 10px;
  }

  .game2
  {
      width:40px;
      height:50px;
      position:relative; 
      left:10px;
      top: 20px;
  }

  .game3
  {
      width:40px;
      height:50px;
      position:relative; 
      left:10px;
      top: 30px;
  }

  .game4
  {
      width:40px;
      height:50px;
      position:relative; 
      left:80px;
      top: 160px;
  }

  .game5
  {
      width:40px;
      height:50px;
      left:10px;
      top: 70px;
  }
  
  .game6
  {
      width:40px;
      height:50px;
      left:10px;
      top: 80px;
  }

  .game7
  {
      width:40px;
      height:50px;
      left:80px;
      top: 160px;
  }

  .game8
  {
      width:60px;
      height:38px;
      left:10px;
      top: 70px;
  }

  .game9
  {
      width:60px;
      height:38px;
      left:10px;
      top: 80px;
  }

  .game10
  {
      width:60px;
      height:38px;
      left:60px;
      top: 160px;
  }

  .game11
  {
      width:40px;
      height:36px;
      left:10px;
      top: 70px;
  }

  .game12
  {
      width:40px;
      height:36px;
      left:10px;
      top: 80px;
  }

  .game13
  {
      width:40px;
      height:36px;
      left:80px;
      top: 160px;
  }

  .game14
  {
      width:40px;
      height:36px;
      left:10px;
      top: 70px;
  }

  .game15
  {
      width:40px;
      height:36px;
      left:10px;
      top: 80px;
  }

  .game16
  {
      width:40px;
      height:36px;
      left:80px;
      top: 160px;
  }

  .game17
  {
      width:40px;
      height:36px;
      left:80px;
      top: 170px;
  }

  .game18
  {
      width:40px;
      height:36px;
      left:10px;
      top: 110px;
  }

  .game19
  {
      width:40px;
      height:36px;
      left:10px;
      top: 120px;
  }

  .game20
  {
      width:40px;
      height:36px;
      left:80px;
      top: 70px;
  }

  .game21
  {
      width:40px;
      height:36px;
      left:80px;
      top: 80px;
  }

  .game22
  {
      width:40px;
      height:36px;
      left:10px;
      top: 160px;
  }

  .game23
  {
      width:40px;
      height:36px;
      left:10px;
      top: 170px;
  }

  .game24
  {
      width:40px;
      height:62px;
      left:80px;
      top: 70px;
  }

  .game25
  {
      width:40px;
      height:62px;
      left:80px;
      top: 80px;
  }

  .game26
  {
      width:60px;
      height:34px;
      left:10px;
      top: 160px;
  }

  .game27
  {
      width:40px;
      height:62px;
      left:80px;
      top: 70px;
  }

  .game28
  {
      width:40px;
      height:62px;
      left:80px;
      top: 80px;
  }

  .game29
  {
      width:60px;
      height:42px;
      left:10px;
      top: 160px;
  }
}

